<div class="container">

  <div class="row pokemon-header"  >
    <h2 class="center"> My Pokemon </h2>
  </div>
 <br>

  <div class="row" >
      <div class="col-xs-6 col-md-3  col-xs-6 col-sm-6  col-md-2 col-lg-2" *ngFor="let pokemon of pokemons">

        <mat-card class="pokemon-card"  routerLink="/pokemon/{{pokemon.id}}">
          <mat-card-title> {{pokemon.name}}</mat-card-title>

          <mat-card-content>
            <p><img src="{{pokemon.default_image_url}}"></p>

          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
          <br>
    </div>
  </div>

</div>
